main {
  margin: 0 auto;
  font-family: Alegreya sans-serif;
}

section {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 3px;
}

.hi {
  position: absolute;
  bottom: 120px;
  left: 15px;
  font-family: 'Abril Fatface', cursive;
  font-size: 60px;
  color: #222;
  line-height: 50%;
  margin-left: 20%;
}

.anakin {
  font-size: 70px;
  position: absolute;
  bottom: 10px;
  left: 15px;
  font-family: 'Abril Fatface', cursive;
  font-size: 80px;
  color: #222;
  line-height: 50%;
  margin-left: 20%;
}

.anakin-profile {
  width: 100%;
}

.body {
  font-size: 18px;
  margin: 0 22%;
  font-family: Josefin Sans;
  line-height: 20px;
}

blockquote {
  font-family: 'Abril Fatface', cursive;
  font-size:3.5vw;
  color:white;
  background-color: #333;
  display: flex;
  justify-content: flex-start;
  align-items:center;
  font-family: 'Abril Fatface', cursive;
  margin-left:-40px;
  margin-right:-40px;
  margin-bottom:0px;
  padding-right: 40px;
  line-height:1.6;
}
blockquote::before{
  content:'\201C';
  position: relative;
  top: -4vw;
  left:0vw; 
  font-size: 10vw;
}

h1 {
  text-transform: uppercase;
  font-family: Abril Fatface;
  color:#222;
  margin-top: 100px;
  margin-bottom: 50px;
}

h2 {
  line-height: 1.6;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  font-style: italic;
  margin-bottom: 0;
}