main {
  margin: 0 auto;
  font-family: Alegreya sans-serif;
}

header {
  width: 100%;
  height: 100%;
  background-image: url("http://stayathome-syllabus.greenfox.academy/week01/assets/first-website-header.png");
  padding: 100px;
  background-position: 100% 100%;
  font-size: 80px;
  font-weight: bold;
  margin-left: 50px;
  margin-right: 50px;
}

.body {
  font-size: 26px;
  margin: 0 500px;
  padding: 60px;
}

.title {
  position: relative;
  top: 150px;
  right: -400px;
  text-align: left;
}

.levente {
  font-size: 120px;
}

blockquote {
  height: 150px;
  width: 100%;
  background: grey;
  color: white;
  text-align: center;
  margin-left: -10px;
  margin-right: -10px;
  font-size: 100px;
  padding: 50px;
  font-weight: bold;
}

.faith {
  height: 280px;
  text-align: left;
}

.learner {
  height: 280px;
  text-align: left;
}

.quotemark {
  position: relative;
  top: -500px;
  font-size: 200px;
  color: white;
  margin-bottom: -400px;
}

.anotherquotemark {
  position: relative;
  top: -630px;
  font-size: 200px;
  color: white;
  margin-bottom: -420px;
}

.lastquotemark {
  position: relative;
  top: -630px;
  font-size: 200px;
  color: white;
  margin-bottom: -420px;
}

h1 {
  text-transform: uppercase;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  font-style: italic;
  margin-bottom: 0;
}